.iSIFGq {
    margin: 0;
  }
  
  .contact-short {
   max-width: 60vw; 
    margin: auto;
   padding: 5rem 10rem; 
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transform: translateY(50%);
  
    .grid div:last-child {
      justify-self: end;
      align-self: center;
    }
  }
  
  .footer-section{
    /* padding: 14rem 0 9rem 0; */
    background-color: #FF6600;
    
    h3 {
      color:#ffffff;
      margin-bottom: 2.4rem;
    }
    p {
      color: #fff;
    }
    .footer-social--icons {
      display: flex;
      gap: 2rem;
  
      div {
         padding: 1rem; 
        border-radius: 50%;
        border: 2px solid #fff;
  
      
        .icons {
          color:#fff;
          font-size: 2.4rem;
          position: relative;
          cursor: pointer;
        }
      }
    }
  }
 
  .footer-bottom--section {
     padding-top: 9rem; 
  
    hr {
      margin-bottom: 2rem;
      color: #ffffff;
      height: 0.1px;
    }
  }
  
  @media (max-width: 768px) {
    .contact-short {
      max-width: 80vw;
      margin: 4.8rem auto;
      transform: translateY(0%);
      text-align: center;
  
      .grid div:last-child {
        justify-self: center;
      }
    }
  
    .footer-section{
      padding: 9rem 0 9rem 0;
    }
  
    .footer-bottom--section {
      padding-top: 4.8rem;
    }
  }
  .endline-page{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  